$bg_color : #040714; 
$titles_color: #f9f9f9; 
$bg_btn:#6421ff;
$bg_btn_header: rgb(48, 48, 141); 
$bg_btn_plano_dis: #0063e5; 
$color_text: silver;
$bg_btn_combo:#1d1f2b; 
$bg_dark_variant: #13151d; 
$bg_button_disney:#02d6e8; 